@charset "utf-8";
@import "pub.scss";
#topNav{
    background: #000000;height: 30px;
    nav{
        width: 1078px;height: 30px;margin: 0 auto;
        .l1{float: left;color: #999999;font-size:12px;line-height: 30px;padding: 0 10px;
            a{display: block;height: 30px;color: #999999;font-size: 12px;}
        }
        .le{position: relative;}
        .lh{position: absolute;display: none;z-index: 20;width: 100px;background: #FFFFFF;border: 1px solid #CCCCCC;text-align: center;
        }
        #left{
            height: 30px;
            float: left;
        }
        #right{
            width: 550px;height: 30px;
            float: right;
        }
    }
}

//bottom
#bottom{
    border-top:1px solid #ccc ;
    height: 410px;
    #b-c{
        width: 1078px;margin: 0 auto;height: 410px;
        #rule{height: 148px;border-bottom: 2px solid #999999;
            .rule{width: 200px;padding: 48px 34px;height: 52px;float: left;
            h5{width: 48px;height: 48px;border: 1px solid #888;border-radius:50% ;float: left;text-align: center;line-height: 48px;font-size: 24px;color: #333;font-weight: 900;};
            h6{float: left;margin-left: 5px;
                p{font-size: 18px;margin: 2px 0;font-weight: 900;}
                em{font-size:12px;line-height: 12px;color: #555;}
            }
            }
        }
        #about{
            height: 220px;
            padding-top: 40px;
            h1{float: left;}
            .about{float: left;width: 74px;height: 160px;padding:0 30px;text-align: center;
            h5{font-size: 18px;margin-bottom: 18px;};
            a{font-size: 14px;color: #333333;line-height: 29px;
                &:hover{text-decoration: underline;}
            }
            }
            h2{float: left;}
        }
    }
}

//logo
#top{
    height: 140px;position: relative;
    .t-t{height: 100px;width:100%;;z-index: 99;
            h1{
                width: 211px;float: left;margin-left: 140px;
                img{
                    padding: 16px 0;
                }                
            }
            form{
                    float: left;width:555px;
                    padding: 25px 0 0 100px ;
                    .t-f{
                        width: 500px;height: 38px;border: 2px solid #ff2337;border-radius: 25px;
                        i{display: block;color: #999;float: left;width: 16px;height: 38px;line-height: 38px;}
                        input{width: 424px;height: 38px;border: none;float: left;}
                        .sou{ display: block;width: 40px;height: 38px;background: #FF2337;float: left;border-radius: 25px;padding-left: 20px;
                         i{font-size: 22px;color: #FFFFFF;line-height: 38px;}
                        }

                    }
                }
            .shopcart{width: 170px;float: left;padding-top: 25px;
                    a{display: block;width: 110px;height: 38px;border: 2px solid #FF2337;border-radius:25px ;font-size:16px ;text-align: center;line-height: 38px;color: #777;
                    i{color: #FF2337;}
                    }
                    &:hover a{background: rgba(80,0,0,0.1)}
            }
        }
    #top-c{
        width: 1078px;height: 40px;margin: 0 auto;position:relative;
        .t-b{
            height: 40px;
            
            .stair{width:160px;height: 40px; background:linear-gradient(90deg,red,#ff3264);color: #fff;float: left;line-height: 40px;font-size: 15px;
                i{margin: 0 16px;}
            }
            .show1{position: absolute;top: 40px;width: 160px;height: 440px;z-index: 20;background: linear-gradient(90deg,red,#ff3264);display: none;
                li{clear: left;height: 39px;border-top: 1px solid #CCCCCC;line-height: 39px;
                    .show2{width: 928px;height: 438px;position: absolute;left: 160px;top:0;background: #F0F0F0;border: 1px solid #FF0000;display: none;
                        .show2-l{width: 695px;float: left;height: 438px;
                            .showt{height: 34px;border-bottom: 1px solid #CCCCCC;
                            h5{float: left;margin-left: 10px;}
                            h6{float: left;margin-left: 300px;}
                            }
                            .showc{height: 222px;border-bottom: 1px solid #CCCCCC;
                            a{color: #999;}
                            .showc1{float: left;width: 345px;height: 222px;}
                            .showc2{float: left;width: 345px;height: 222px;}
                            }
                        }
                        .show2-r{width: 233px;float: left;height: 438px;
                        h5{width: 100px;height: 100px;float: left;margin: 5px;
                            img{width: 100%;height: 100%;}
                        }
                        }
                    }
                    .active{display: block};
//                  &:hover{background: #FFFDEF;
//                      a{color: #FF274B;}
//                      i{color: #FF274B;}
//                  }
                    a{color: #fff;font-size: 14px;
                        i{color: #ff96ad;margin: 0 16px;}
                    }
                }
            }
            nav{width: 900px;height: 40px;float: left;
                li{float: left;padding: 0 20px;line-height: 40px;font-size: 15px;
                a{color: #000}
                &:hover a{color: #FF2337;}
            }
            }
            
        }
    }
}


//ban
#ban{height: 500px;overflow: hidden;
    #ban-c{
        width: 1078px;margin: 0 auto;position: relative;left: 50%;margin-left: -960px;
    }
}

//内容
#con{min-height: 888px;
    #con-c{
        width:1000px;min-height:888px;margin:0 auto;
        .core{height: 1490px;
            .core-t{height: 60px;padding: 10px 0;
            h3{font-size:28px;text-align: center;line-height: 60px;background:lightskyblue;}
            }
            .core-c{height: 1420px;background: #FFFDEF;
                li{width:20%;height: 284px;float: left;
                    div{width: 194px;height: 279px;border: 1px solid #000000;position: relative;z-index: 1;background: #FFFFFF;
                        h5{width: 194px;height: 22px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
                            a{font-size: 14px;color: #333333;line-height: 16px;}
                      
                        }
                         p{font-size: 12px;color: #666;height: 20px;line-height: 20px;margin-left: 5px;}
                        h6{height: 22px;line-height: 22px;margin: 10px 0;
                            i{float: left;font-size: 20px;color: red;margin-left: 5px;}
                            em{float: left;font-size: 16px;color: #999999;text-decoration: line-through;}
                            a{float: right;font-size: 12px;color: #FFFDEF;display: block;width: 60px;height: 22px;background: #FF274B;border-radius: 5px;text-align: center;margin-right: 5px;}
                        }
                    }
                }
            }
        }
    }
}
//底部
footer{
    height: 110px;background: #333333;
    .foter{width: 1078px;margin: 0 auto;text-align: center;padding: 20px 0;color: #C2C2C2;
            a{font-size: 11px;color: #c2c2c2;
                &:hover{text-decoration: underline}
            }
               
            span{font-size: 11px;color: #C2C2C2;}
    }
    }